body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.boutton {
    padding: 15px 30px;
    background: #c1b086;
    border-radius: 25px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    box-shadow: 0 25px 100px black ;
    border: white 1.5px solid;


}

#Home {
    background: url(images/home1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.tete {
    display: flex;
    justify-content: space-between;
}

.tete nav {
    display: flex;
    gap: 35px;
    width: 30%;
    margin-right: 100px;
    margin-top: 8px;
    padding: 0;
}

.tete img {
    width: 130px;
    height: 30px;
    margin-left: 130px;
    margin-top: 25px;
}

.tete a {
    text-decoration: none;
    color: white;
    margin-top: 25px; 
    transition: 0.5s;
}

.tete a:hover {
    color: #c1b086;
}


#Home h1::after{
    position: absolute;
    top: 11%;
    left: 16%;
    opacity: 0.3;
    content: "H";
    font-size: 360px;
}

#Home span {
    display: block;
    margin-left: 220px;
    margin-top: 170px;
}

#Home span h1 {
    font-size: 75px;
}

#Home span p {
    width: 60%;
}

#About {
    height: 100vh;
    position: relative;
}

#Amenities {
    height: 100vh;
    position: relative;
}

#Rooms {
    height: 100vh;
    position: relative;
}

#Restaurant {
    height: 100vh;
    position: relative;
}

#Restaurant .description_restaurant span {
    display: inline-block;
    margin-left: 37.5%;
    margin-top: 30px;
}

#Restaurant .description_restaurant span p {    
    font-size: 13px;
    color: #666;
    margin-left: 40px;
    margin-top: 30px;
    width: 56%;
}

#Restaurant span h2::before{
    position: absolute;
    content: "";
    width: 5.5%;
    top: 28px;
    border: #c1b086 1.5px solid;
}

#Restaurant a{
    position: absolute;
    right: 13%;
    top: 10%;
}

#Restaurant .image_gauche img {
    position: absolute;
    background-position: center;
    margin-left: 10%;
    margin-top: 2%;
    width: 370px;
    height: 530px;
    border-radius: 20px;
    border: #c1b086 3px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
    object-fit: cover;
}

#Restaurant .grille {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    margin-left: 37.5%;
    margin-top: 5px;
}

#Restaurant .image_grille {
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 188px;
    border: #c1b086 3px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
    overflow: hidden;
}

#Restaurant .overlay_titre {
    display: flex;
    justify-content: center;
    color: white;
    transform: translateY(150px);
    background-color:rgb(193, 176, 134);
    width: 100%;
    align-items: center;
    text-align: center;
    height: 20%;
    font-size: 22px;
    opacity: 0;
    transition: 1s ease;
}



#Restaurant .overlay_description {
    color: white;
    transform: translateY(-120px);
    margin: 0 0 0 5%;
    background-color:rgb(193, 176, 134);
    width: 90%;
    text-align: justify;
    font-size: 14px;
    border-radius: 5px;
    opacity: 0;
    transition: 1s ease;
}

#Restaurant .image_grille:hover .overlay_titre {
    opacity: 0.9;
    transform: translateY(20px);
}

#Restaurant .image_grille:hover .overlay_description {
    opacity: 0.9;
    transform: translateY(30px);
}

#Gallery {
    height: 100vh;
    position: relative;
}
