body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.boutton {
    position: absolute;
    padding: 15px 30px;
    background: #c1b086;
    border-radius: 25px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    box-shadow: 0 25px 100px black ;
    border: white 1.5px solid;
    margin-top: 40px;
    margin-left: 50px

}

#Home {
    background: url(images/home1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.tete {
    display: flex;
    justify-content: space-between;
}

.tete nav {
    display: flex;
    gap: 35px;
    width: 30%;
    margin-right: 100px;
    margin-top: 8px;
    padding: 0;
}

.tete img {
    width: 130px;
    height: 30px;
    margin-left: 130px;
    margin-top: 25px;
}

.tete a {
    text-decoration: none;
    color: white;
    margin-top: 25px; 
    transition: 0.5s;
}

.tete a:hover {
    color: #c1b086;
}


#Home h1::after{
    position: absolute;
    top: 11%;
    left: 16%;
    opacity: 0.3;
    content: "H";
    font-size: 360px;
}

#Home span {
    display: block;
    margin-left: 220px;
    margin-top: 170px;
}

#Home span h1 {
    font-size: 75px;
}

#Home span p {
    width: 60%;
}

#About {
    justify-content: center;
    height: 100vh;
    position: relative;
}

#About img {
    transition: 0.5s;
}

#About img:hover {
    transform: scale(1.2);
}

.About_image1 {
    position: absolute;
    width: 260px;
    height: 350px;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 6%;
    border: #c1b086 4px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

.About_image2 {
    position: absolute;
    width: 280px;
    height: 185px ;
    margin-left: 19%;
    margin-top: 25%;
    border-radius: 10%;
    border: #c1b086 3px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
}

#About span h2::before{
    position: absolute;
    content: "";
    width: 15%;
    top: -20px;
    border: #c1b086 2px solid;
}

#About span {
    display: block;
    position: absolute;
    width: 40%;
    top: 23%;
    left: 50%;
}

#About span h1 {
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: 500;
    font-size: 30px;
    margin: 10px 0;
    color: #333;
    padding-bottom: 10px;
}

#About span h2 {
    font-size: 12px;
    letter-spacing: 2px;
    color: grey;
    text-transform: uppercase;
}

#About span p {
    font-size: 16px;
    color: #666;
    line-height: 1.3;
    margin-top: 10px;
    margin-left: 8%;
    text-align: justify;
    padding-bottom: 10px;
}

#Amenities {
    height: 100vh;
    position: relative;
}

.Amenities_image{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60%;
    border-top: #c1b086 3px solid;
    border-bottom: #c1b086 3px solid;
}

#Amenities .Boite{
    position: absolute;
    padding: 3%;
    width: 40%;
    height: 48%;
    color: white;
    background-color: #51A5C7;
    border-radius: 20px;
    border: #c1b086 3px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
    right: 12%;
    bottom: 9%;
    transition: 0.5s;
    opacity: 0.5;
}

#Amenities .Boite:hover {
    opacity: 1;
}

#Amenities p {
    text-align: justify;
    line-height: 2.3;
    font-size: 15px;
}

#Amenities .icone {
    display: flex;
    font-size: 13px;
    margin-top: 40px;
    gap: 13%;
    line-height: 3;
}

#Amenities ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Amenities ul li i {
    margin-right: 20px;
}

#Amenities a {
    position: absolute;
    bottom: 38px;
    right: 35px;
}

#Rooms {
    height: 100vh;
    position: relative;
}

#Restaurant {
    height: 100vh;
    position: relative;
}

#Gallery {
    height: 100vh;
    position: relative;
}
