@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.boutton {
    position: absolute;
    padding: 15px 30px;
    background: #c1b086;
    border-radius: 25px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    box-shadow: 0 25px 100px black ;
    border: white 1.5px solid;
    margin-top: 40px;
    margin-left: 50px

}

#Home {
    background: url(images/home1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.tete {
    display: flex;
    justify-content: space-between;
}

.tete nav {
    display: flex;
    gap: 35px;
    width: 35%;
    margin-right: 80px;
    margin-top: 8px;
    margin-left: 50px;
    padding: 0;
}

.tete img {
    width: 130px;
    height: 30px;
    margin-left: 130px;
    margin-top: 25px;
}

.tete a {
    text-decoration: none;
    color: white;
    margin-top: 25px; 
    transition: 0.5s;
    font-weight: 380;
    font-size: 15px;
}

.tete a:hover {
    color: #c1b086;
}

#Home span {
    display: block;
    margin-left: 220px;
    margin-top: 180px;
}

#Home span h1 {
    font-size: 65px;
    font-weight: 380;
}

#Home span p {
    width: 53%;
    margin-left: 50px;
    margin-top: 55px;
    font-size: 14px;
    font-weight: 350;
    text-align: justify;
}

#Home h1::after{
    position: absolute;
    top: 7%;
    left: 16%;
    opacity: 0.2;
    content: "H";
    font-size: 360px;
    font-weight: 700;
}

#About {
    justify-content: center;
    height: 100vh;
    position: relative;
}

.About_image1 {
    position: absolute;
    width: 265px;
    height: 410px;
    margin-left: 10%;
    margin-top: 11.5%;
    border-radius: 25px;
    border: #c1b086 3px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
}

.About_image2 {
    position: absolute;
    width: 280px;
    height: 190px ;
    margin-left: 20%;
    margin-top: 29%;
    border-radius: 10%;
    border: #c1b086 3px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
}

#About img {
    transition: 0.5s;
}

#About img:hover {
    transform: scale(1.2);
}

#About span {
    display: block;
    position: absolute;
    width: 40%;
    top: 23%;
    left: 50%;
}

#About span h1 {
    font-weight: 430;
    font-size: 26px;
    margin: 20px 0;
    color: #333;
    padding-bottom: 10px;
}

#About span h2 {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    color: grey;
    text-transform: uppercase;
    margin-top: 17px;
}

#About span h2::before{
    position: absolute;
    content: "";
    width: 15%;
    top: -20px;
    border: #c1b086 2px solid;
}

#About span p {
    font-size: 14px;
    font-weight: 380;
    color: #666;
    line-height: 1.3;
    margin-top: 40px;
    margin-left: 8%;
    text-align: justify;
    padding-bottom: 10px;
}

#About span .p {
    font-size: 14px;
    font-weight: 380;
    color: #666;
    line-height: 1.3;
    margin-top: 20px;
    margin-left: 8%;
    text-align: justify;
    padding-bottom: 10px;
}

#About a {
    position: absolute;
    top: 106%;
}

#Amenities {
    height: 100vh;
    position: relative;
}

.Amenities_image{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60%;
    border-top: #c1b086 3px solid;
    border-bottom: #c1b086 3px solid;
}

#Amenities .Boite{
    position: absolute;
    padding: 3%;
    width: 40%;
    height: 43%;
    color: white;
    background-color: #3f9cc1 ;
    border-radius: 20px;
    border: #c1b086 3px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
    right: 12%;
    bottom: 9%;
    transition: 0.5s;
    opacity: 0.5;
}

#Amenities .Boite:hover {
    opacity: 1;
}

#Amenities .Boite span h1 {
    font-size: 18px;
    font-weight: 500;
}

#Amenities .Boite span p {
    margin-top: 20px;
    text-align: justify;
    line-height: 2;
    font-size: 11px;
}

#Amenities .icone {
    display: flex;
    font-size: 13px;
    margin-top: 40px;
    gap: 13%;
    line-height: 3;
}

#Amenities ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#Amenities ul li i {
    margin-right: 20px;
}

#Amenities a {
    position: absolute;
    bottom: 38px;
    right: 35px;
}

#Rooms {
    height: 100vh;
    position: relative;
}

#Rooms .Titre span {
    display: inline-block;
    margin: 4% 0 0 10%;
}

#Rooms .Titre span h1 {
    font-weight: 450;
    font-size: 26px;
    margin: 23px 0;
    color: #333;
    padding-bottom: 10px;
}

#Rooms .Titre span h2 {
    font-size: 10px;
    letter-spacing: 2px;
    color: grey;
    text-transform: uppercase;
}

#Rooms .Titre span h2::before{
    position: absolute;
    display: block;
    content: "";
    width: 6.5%;
    top: 30px; 
    border: #c1b086 2px solid;
}

#Rooms a {
    position: absolute;
    top: 5.5%;
    right: 11%;
}

.chambre {
    display: flex;
    width: 80%;
    margin: 0 0 0 10%;
    gap: 30px;
}

.fenetre {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 480px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border:#c1b086 3px solid;
}

.fenetre .description {
    margin-top: auto;
    background-color: white;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

.fenetre .description span {
    display: inline-block;
    margin-left: 13px;
}

.fenetre .description h1 {
    color: black;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: -10px;
    margin-top: 15px;
}

.fenetre .description span p {
    font-weight: 500;
    font-size: 14px;
    margin-top: 25px;
}

#Rooms .fenetre  p::before {
    content: "$";
    font-size: 0.8em;
    color: grey;
}

#Rooms .fenetre p::after {
    content: " /per night";
    font-size: 0.8em;
    color: grey;
}

#Restaurant {
    height: 100vh;
    position: relative;
}

#Restaurant .description_restaurant span {
    display: inline-block;
    margin-left: 37.5%;
    margin-top: 30px;
}

#Restaurant span h2{
    font-weight: 430;
}

#Restaurant span h2::before{
    position: absolute;
    content: "";
    width: 5.5%;
    top: 30px;
    border: #c1b086 1.5px solid;
}

#Restaurant .description_restaurant span p {    
    font-size: 13px;
    color: #666;
    margin-left: 40px;
    margin-top: 40px;
    width: 56%;
}

#Restaurant a{
    position: absolute;
    right: 13%;
    top: 4%;
}

#Restaurant .image_gauche img {
    position: absolute;
    background-position: center;
    margin-left: 10%;
    margin-top: 2%;
    width: 370px;
    height: 620px;
    border-radius: 20px;
    border: #c1b086 3px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
    object-fit: cover;
}

#Restaurant .grille {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    margin-left: 37.5%;
    margin-top: 15px;
}

#Restaurant .image_grille {
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    width: 100%;
    height: 220px;
    border: #c1b086 3px solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
    overflow: hidden;
}

#Restaurant .overlay_titre {
    display: flex;
    justify-content: center;
    color: white;
    transform: translateY(150px);
    background-color:rgb(193, 176, 134);
    width: 100%;
    align-items: center;
    text-align: center;
    height: 20%;
    font-size: 19px;
    font-weight: 300;
    opacity: 0;
    transition: 0.7s ease;
}

#Restaurant .overlay_description {
    display: flex;
    justify-content: center;
    color: white;
    transform: translateY(-120px);
    margin: 0 0 0 5%;
    margin-left: 24px;
    padding-left: 3%;
    padding-right: 3%;
    background-color:rgb(193, 176, 134);
    width: 80%;
    text-align: justify;
    font-size: 13px;
    border-radius: 15px;
    opacity: 0;
    transition: 0.7s ease;
}

#Restaurant .image_grille:hover .overlay_titre {
    opacity: 0.9;
    transform: translateY(20px);
}

#Restaurant .image_grille:hover .overlay_description {
    opacity: 0.9;
    transform: translateY(30px);
}

#Gallery {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;

}

#Gallery .Head span {
    display: inline-block;
    margin: 3.5% 0 0 10%;
}

#Gallery .Head span h1 {
    font-weight: 430;
    font-size: 28px;
    margin: 23px 0;
    color: #333;
    padding-bottom: 10px;
}

#Gallery .Head span h2 {
    font-size: 10.5px;
    letter-spacing: 2px;
    color: grey;
    text-transform: uppercase;
}

#Gallery .Head span h2::before{
    position: absolute;
    display: block;
    content: "";
    width: 6%;
    top: 25px; 
    border: #c1b086 2px solid;
}

#Gallery a {
    position: absolute;
    top: 6%;
    right: 10%;
}

#Gallery .images_gallery {
    display: flex;
    margin: 2% 0 0 10%;
    width: 80%;
    gap: 5px;
}

#Gallery .Contenu_image {
    width: 5%;
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    border-radius: 20px;
    border: #c1b086 4px solid;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2), -2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: 1s ease;
    opacity: 0.5;
}

#img1:checked ~ .Contenu_image:nth-of-type(1),
#img2:checked ~ .Contenu_image:nth-of-type(2), 
#img3:checked ~ .Contenu_image:nth-of-type(3),
#img4:checked ~ .Contenu_image:nth-of-type(4),
#img5:checked ~ .Contenu_image:nth-of-type(5),
#img6:checked ~ .Contenu_image:nth-of-type(6),
#img7:checked ~ .Contenu_image:nth-of-type(7),
#img8:checked ~ .Contenu_image:nth-of-type(8) {
    width: 100%;
    opacity: 1;
    border: #664f14 3px solid;
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.25), -3px 6px 8px rgba(0, 0, 0, 0.25);
}